* {
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: bisque;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div nav ul {
    display: flex;
    gap: 1.7rem;
    color: black;
    align-items: center;
}

.div-1{
    font-size: 1.1rem;
    align-items: center;
}

header nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

header nav ul li a{
    color: black;
}

header nav a button {
    padding: 7px;
    background-color: transparent;
    width: 8rem;
    cursor: pointer;
}

header nav a button:hover {
    background-color: rgba(255, 228, 152, 0.836);
    transition: 0.8s;
}

.sessao1 {
    padding: 15rem;
    background-image: url(imagens/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sessao1 h1 {
    color: azure;
    font-size: 4.3rem;
    text-align: center;
}

.sessao1 p {
    margin-top: -50px;
    color: azure;
    font-size: 1.8rem;
    text-align: center;
}

.line {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 65px;
    margin: 40px auto;
}

.sessao2 {
    padding: 8rem;
    display: flex;
    background-color: aliceblue;
    justify-content: space-evenly;
}

.img1 {
    height: 25rem;
    width: 20rem;
    background-image: url(imagens/sunset-3816247_1280.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

.img1 p {
    color: azure;
    text-align: center;
    margin-top: 250px;
    padding: 0.5rem;
}

.img2 {
    height: 25rem;
    width: 20rem;
    background-image: url(imagens/sunset-8283538_1280.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

.img2 p {
    color: azure;
    text-align: center;
    margin-top: 250px;
    padding: 0.5rem;
}

.img3 {
    height: 25rem;
    width: 20rem;
    background-image: url(imagens/sunset-6344387_1280.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

.img3 p {
    color: azure;
    text-align: center;
    margin-top: 250px;
    padding: 0.5rem;
}

.sessao3 {
    padding: 5rem;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

.sessao3 div img {
    background-repeat: no-repeat;
    width: 30rem;
    height: 40rem;
    justify-content: space-between;

}

.sessao3 div p {
    width: 40rem;
    padding: 2rem;
    font-size: 1.3rem;
    text-align: justify;

}

.sessao3 div h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 1.8rem;
}


.sessao4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    background-color: aliceblue;
    text-align: center;

}

#email {
    padding: 0.8rem;
    margin-top: 30px;
    width: 20rem;
}

#botao {
    padding: 1rem;
    background-color: transparent;
    width: 10rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

#botao:hover {
    background-color: rgba(255, 228, 152, 0.836);
    transition: 0.8s;
}

footer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;

}

footer div nav ul {
    display: flex;
}

.divIcon nav ul {
    gap: 5px;
}

.divIcon nav ul li a i {
    color: white;
    background-color: rgb(32, 31, 31);
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 17px;
}

.divTextFooter nav ul {
    gap: 3rem;
}

.divTextFooter nav ul li a {
    color: black;
}